# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
myenv/
.env

# Django stuff:
db.sqlite3
*.log
media/
staticfiles/
static/

# Migrations
**/migrations/

# pytest
htmlcov/
.coverage
.tox/
.pytest_cache/

# VSCode
.vscode/

# macOS
.DS_Store

# Docker
*.pid